{% extends 'base.html' %}

{% block content %}
<ul class="nav-item">
    <h1>Hola Andrés!</h1>
    Espero que te guste mi humilde aplicación de gestión de Almacen o kiosco.
    <br><br>
    La verdad me hubiese gustado hacer un mejor código en la parte de busqueda,
    <br>
    Pero siendo la primer entrega espero sepas perdonarme jajajaja. <br>
    La verdad no me dió el cuero para hacer mas en esta semana. <br>
    <br>
    Buena jornada! <br>
    Atentos saludos, <br>
                Facundo



</ul>
{% endblock content %}